.search {
    box-sizing: border-box;
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 44px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7ECF1;
}

.backImage {
    position: absolute;
    margin-left: 285px;
    margin-top: 30.2px;
    width: 103.6px;
    height: 33.6px;
}

.smallImage {
    position: absolute;
    left: 324.2px;
    top: 39.07px;
}

.logo {
    position: absolute;
    width: 184.8px;
    height: 48px;
    margin-left: 391.8px;
    margin-top: 24.2px;
}

.button {
    position: absolute;
    width: 121px;
    height: 48px;
    background: #DE0404;
    border-radius: 6px 0px 0px 6px;
    color: white;
}

.searchBox {
    position: absolute;
    box-sizing: border-box;
    width: 541px;
    height: 50px;
    left: 630px;
    top: 20px;
    border: 1px solid #DE0404;
    border-radius: 0px 6px 6px 0px;
}

.cart {

    margin-left: 1454px;
    margin-top: 29px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.border {
    width: 1px;
    height: 24px;
    background: #CFD8E3;
}
