.topBanner {
    position: absolute;
    width: 1920px;
    height: 44px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F2F3;
    color: #34495E;
}

.leftPart {
    margin-left: 285px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.rightPart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 285px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.login {
    font-weight: 700;
    color: #34495E;
}